/* 
====================================
All Brands Page
====================================
*/

.watch__head {
    position: relative;
    margin: 87px auto 0 auto;
    padding: 100px 0;

    background: url('../images/sub-water.png');
    background-size: cover;
    background-position: center;
    max-width: 984px;
}

.watch__bg__dim {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .4);
}

.watch__head__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch__head h1 {
    position: relative;
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
}

.watch__head h1:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
    transform: translate(-50%);
}

.brands a {
    color: #000;
}

.brands__head {
    padding: 30px 0;
}

.brands__head h4 {
    font-size: 24px;
    font-weight: 500;
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 0 20px;
}

.brands__item {
    border-radius: 10px;
    overflow: hidden;
}

.brands__item.one {
    background: linear-gradient(to bottom right, rgb(221, 221, 221), #808080);
}

.brands__item.two {
    background: linear-gradient(to bottom right, rgb(121, 152, 179), #264768);
}

.brands__item.three {
    background: linear-gradient(to bottom right, rgb(238, 215, 163), #A7925F);
}

.brands__item.four {
    background: linear-gradient(to bottom right, rgb(238, 103, 114), #AC2732);
}

.brands__img {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.brands__img img {
    width: 80%;
    object-fit: cover;
    transition: .2s ease-in-out;
}

.brands__descript {
    background: #fff;
    padding: 15px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    transform: translateY(32px);
    transition: .2s ease-in-out;
}

.brands__descript h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.brands__item:hover .brands__descript {
    transform: translateY(2px);
}

.watches__gallery__cta {
    text-align: center;
    padding: 75px 0;
}

.watches__gallery__cta a {
    color: #fff;
}

/* 
====================================
Media Queries
====================================
*/


@media (max-width: 600px) {

    .watch__head h1 {
        font-size: 30px;
    }

}

@media (max-width: 520px) {

    .watch__head h1 {
        font-size: 26px;
    }

    .brands__list {
        grid-template-columns: 1fr;
    }

}